<h1>グループの編集</h1>
<%= form_for(@group, url: group_path(@group.uuid), html: {role: "form"}) do |f| %>
<%= render 'create_form', f: f %>
<% end %>

<h3>グループの削除</h3>
<p>
<%= link_to 'このグループを削除する', group_path(@group.uuid), method: :delete, class: "btn btn-danger", data: { confirm: 'グループを削除しますか？' } %>
</p>
