<div class="page-header">
<div class="row">
<div class="col-md-9"><h2>公開中のグループ</h2></div>
<div class="col-md-3"><p><%= link_to '新規グループを作成', new_group_path, class: "btn btn-primary btn-lg", role: "button" %></p></div>
</div>
</div>


<%= paginate @groups %>

<ul class="list-group">
<% @groups.each do |group| %>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6"><%= group.name %></div>
      <div class="col-md-2"><%= link_to '詳細を確認', group_path(group.uuid) %></div>
    </div>
  </li>
<% end %>
</ul>

