<h2 class="form-signin-heading">Please sign in</h2>
<%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-block btn-social btn-twitter" do %>
  <span class="fa fa-twitter"></span> Sign in with Twitter
<% end %>
<%= link_to user_google_omniauth_authorize_path, class: "btn btn-block btn-social btn-google" do %>
  <span class="fa fa-google"></span> Sign in with Google
<% end %>

