<div class="form-group">
  <div class="field">
    <%= f.label :player_id_name, "プレイヤーIDネーム" %><br />
    <%= f.text_field :player_id_name, :class => "form-control" %>
  </div>
</div>
<div class="actions">
  <p><%= f.submit :class => "btn btn-default" %></p>
</div>
