<div class="page-header">
<h1>プレイヤー情報の編集</h1>
</div>
<%= form_for(@player, url: player_update_path(@player.player_id_name), html: {role: "form"}) do |f| %>
<%= render 'create_form', f: f %>
<% end %>
