<h1>固定の編集</h1>
<%= form_for(@room, url: room_path(@room.uuid), html: {role: "form"}) do |f| %>
<%= render 'create_form', f: f %>
<% end %>

<h3>固定の削除</h3>
<p>
<%= link_to 'この固定を削除する', room_path(@room.uuid), method: :delete, class: "btn btn-danger", data: { confirm: '固定を削除しますか？' } %>
</p>
