<h2>募集中の固定</h2>

<ul class="list-group">
<% @rooms.each do |room| %>
  <li class="list-group-item">
  <%= room.name %>
  <%= link_to '詳細を確認', room %>
  <%= link_to '削除', room, method: :delete, data: { confirm: '固定部屋を削除しますか？' } %>
  </li>
<% end %>
</ul>

<%= link_to '新しい固定を作成する', action: "new" %>
