<h1>募集中の固定</h1>

<ul>
<% @rooms.each do |room| %>
  <ui>
  <%= room.name %>
  <%= link_to '詳細を確認', room %>
  <%= link_to '削除', room, method: :delete, data: { confirm: '固定部屋を削除しますか？' } %>
  </ui>
<% end %>
</ul>

<%= link_to '新しい固定を作成する', action: "new" %>
