<div class="page-header">
<h1>シートの新規作成</h1>
</div>
<%= form_for(@room, html: {role: "form"}) do |f| %>
<%= render 'create_form', f: f %>
<% end %>
<div class="alert alert-danger" role="alert">作成から<%= @keep_old_room_days %>日で順次削除されます。</div>
